<ons-page id="spiderman">
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="assets/img/trailer2.jpg">
    </div>
    <div class="movie_info">
        <h1>SpiderMan: Far from Home</h1>
        <ons-row class="movie_general_info">
            <ons-col class="stars">
                <ons-icon style="color: black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color: gray" icon="fa-star"></ons-icon>
            </ons-col>
            <ons-col>2019</ons-col>
            <ons-col>Action</ons-col>
            <ons-col>2h 9m</ons-col>
        </ons-row>
        <div class="movie_synopsis">Following the events of Avengers: Endgame (2019), Spider-Man must step up to take on
            new threats in a world that has changed forever.In Ixtenco, Mexico, Nick Fury and Maria Hill investigate an
            unnatural storm and encounter the Earth Elemental. Quentin Beck, a super-powered individual, arrives to
            defeat the creature. Beck subsequently defeats the Air Elemental and is recruited by Fury and Hill.
            Meanwhile, in New York City, the Midtown School of Science and Technology completes its year, which was
            restarted to accommodate the students who previously disintegrated five years ago as a result of Thanos'
            actions.
        </div>
        <div class="movie_cast">
            Cast: Tom Holland, Samuel L. Jackson, Jake Gyllenhaal<br />
            Director: Jon Watts
        </div>
    </div>

    <div class="movie_list">
        Recommend
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
            <ons-carousel-item modifier="nodivider" id="Similar Movie 1">
                <img src="assets/img/Stranger.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 2">
                <img src="assets/img/spiderverse.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/deadpool2.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/joker.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/dragon.jpg">
            </ons-carousel-item>
        </ons-carousel>
    </div>

</ons-page>