<ons-page id="frozen">
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="assets/img/trailer3.jpg">
    </div>
    <div class="movie_info">
        <h1>Frozen</h1>
        <ons-row class="movie_general_info">
            <ons-col class="stars">
                <ons-icon style="color: black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color: gray" icon="fa-star"></ons-icon>
            </ons-col>
            <ons-col>2013</ons-col>
            <ons-col>Animation</ons-col>
            <ons-col>1h 42m</ons-col>
        </ons-row>
        <div class="movie_synopsis">When the newly crowned Queen Elsa accidentally uses her power to turn things into
            ice to curse her home in infinite winter, her sister Anna teams up with a mountain man, his playful
            reindeer, and a snowman to change the weather condition.Princess Elsa of Arendelle possesses magical powers
            that allow her to control and create ice and snow, often using them to play with her younger sister, Anna.
            After Elsa accidentally injures Anna with her magic, their parents, the King and Queen, take both siblings
            to a colony of trolls led by Grand Pabbie. He heals Anna, but alters her memories so that she forgets about
            Elsa's magic.
        </div>
        <div class="movie_cast">
            Cast: Kristen Bell, Idina Menzel, Jonathan Groff <br />
            Director: Chris Buck, Jennifer Lee
        </div>
    </div>

    <div class="movie_list">
        Recommend
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
            <ons-carousel-item modifier="nodivider" id="Similar Movie 1">
                <img src="assets/img/Stranger.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 2">
                <img src="assets/img/spiderverse.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/deadpool2.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/joker.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/dragon.jpg">
            </ons-carousel-item>
        </ons-carousel>
    </div>

</ons-page>