<ons-page id="่ironman">
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="assets/img/trailer.jpg">
    </div>
    <div class="movie_info">
        <h1>Iron Man 3</h1>
        <ons-row class="movie_general_info">
            <ons-col class="stars">
                <ons-icon style="color: black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color:  black" icon="fa-star"></ons-icon>
                <ons-icon style="color: gray" icon="fa-star"></ons-icon>
            </ons-col>
            <ons-col>2013</ons-col>
            <ons-col>Action</ons-col>
            <ons-col>2h 10m</ons-col>
        </ons-row>
        <div class="movie_synopsis">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin,
            he starts an odyssey of rebuilding and retribution.At a New Year's Eve party in 1999, Tony Stark meets
            scientist Maya Hansen, the inventor of an experimental regenerative treatment named Extremis that allows
            recovery from crippling injuries. Disabled scientist Aldrich Killian offers them a place in his company
            Advanced Idea Mechanics, but Stark rejects him. In December 2012, seven months after the battle of New York
        </div>
        <div class="movie_cast">
            Robert Downey Jr., Guy Pearce, Gwyneth Paltrow <br />
            Director: Shane Black
        </div>
    </div>

    <div class="movie_list">
        Recommend
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px">
            <ons-carousel-item modifier="nodivider" id="Similar Movie 1">
                <img src="assets/img/Stranger.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 2">
                <img src="assets/img/spiderverse.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/deadpool2.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/joker.jpg">
            </ons-carousel-item>
            <ons-carousel-item modifier="nodivider" id="Similar Movie 3">
                <img src="assets/img/dragon.jpg">
            </ons-carousel-item>
        </ons-carousel>
    </div>

</ons-page>