<ons-page id="favorite">
    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/we.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">We Bare Bears (2014-2019)</span><span class="list-item__subtitle">Three bear brothers do whatever they can to be a part of human society by doing what everyone around them does.</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/iron.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Iron Man (2008)</span><span class="list-item__subtitle">After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/TN.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Tenet (2020)</span><span class="list-item__subtitle">Armed with only one word, Tenet, and fighting for the survival of the entire world, a Protagonist journeys through a twilight world of international espionage on a mission.</span>
      </div>
    </ons-list-item>

    <ons-list-item>
      <div class="left">
        <img class ="imglike" src="assets/img/dr.jpg">
      </div>
      <div class="center">
        <span class="list-item__title">Doctor Strange (2016)</span><span class="list-item__subtitle">While on a journey of physical and spiritual healing, a brilliant neurosurgeon is drawn into the world of the mystic arts.</span>
      </div>
    </ons-list-item>
    
</ons-page>